[package]
name = "cros-codecs"
version = "0.0.4"
license = "BSD-3-Clause"
description = "Hardware-accelerated codecs for Linux"
repository = "https://github.com/chromeos/cros-codecs"
authors = ["The ChromiumOS Authors"]
edition = "2021"

[features]
default = ["vaapi"]
vaapi = ["libva"]

[dependencies]
anyhow = "1"
bitreader = "0.3.6"
byteorder = "1.4.3"
bytes = "1.1.0"
enumn = "0.1.4"
libva = { git = "https://github.com/chromeos/cros-libva", rev = "ccb2707", package = "cros-libva", optional = true }
log = { version = "0", features = ["release_max_level_debug"] }
thiserror = "1.0.31"
crc32fast = "1.3.2"

[dev-dependencies]
argh = "0.1"
env_logger = "0.10.0"
matroska-demuxer = "0.5.0"
md5 = "0.7"
drm = "0.9.0"
gbm = { version = "0.12", default-features = false, features = ["drm-support"] }

[[example]]
name = "ccdec"
required-features = ["vaapi"]

[[example]]
name = "ccenc"
required-features = ["vaapi"]
